In [91]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [92]:
df = pd.read_csv('../data/train.csv')
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [93]:
X= df[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]
y= df['Survived']
X.shape,y.shape

((891, 7), (891,))

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=37)

In [95]:
X_train

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
795       2    male  39.0      0      0  13.0000        S
715       3    male  19.0      0      0   7.6500        S
406       3    male  51.0      0      0   7.7500        S
294       3    male  24.0      0      0   7.8958        S
780       3  female  13.0      0      0   7.2292        C
..      ...     ...   ...    ...    ...      ...      ...
22        3  female  15.0      0      0   8.0292        Q
437       2  female  24.0      2      3  18.7500        S
251       3  female  29.0      1      1  10.4625        S
844       3    male  17.0      0      0   8.6625        S
363       3    male  35.0      0      0   7.0500        S

[712 rows x 7 columns]

In [96]:
#X_train.isna().sum()

In [97]:
#X_train['Pclass'].value_counts()

In [98]:
#X_train['Sex'].value_counts()

In [99]:
#X_train['SibSp'].value_counts()

In [100]:
#X_train['Parch'].value_counts()

In [101]:
#X_train['Embarked'].value_counts()

data look clean, i.e. no weird values in there

In [102]:
X_train.isna().sum()

Pclass        0
Sex           0
Age         135
SibSp         0
Parch         0
Fare          0
Embarked      1
dtype: int64

In [103]:
numerical_columns = ['Age','Fare',]
categorical_columns = ['Embarked',] #'Pclass','Sex','SibSp','Parch',

In [104]:
X_train.shape

(712, 7)

In [105]:
numerical_pipeline = Pipeline([
    ('numerical_imputer',SimpleImputer(missing_values=np.nan, strategy='mean')),
    ('num_scaler',StandardScaler()),
])

In [106]:
categorical_pipeline = Pipeline([
    ('numerical_imputer',SimpleImputer(missing_values=np.nan, strategy='most_frequent')),
    ('categorical_ohe',OneHotEncoder(sparse=False, handle_unknown='error',drop='first')),
])

In [107]:
column_transformer = ColumnTransformer([
    ('numerical_pipeline',numerical_pipeline,['Age','Fare',]),
    ('categorical_pipeline',categorical_pipeline,['Pclass','Sex','SibSp','Embarked',]),
    #('num_discritazer',KBinsDiscretizer(n_bins=8, strategy='uniform'),['Age','Fare',]),#numerical_columns 
])

In [108]:
column_transformer.fit(X_train) #learn how to do the transforamtion
X_train_fe = column_transformer.transform(X_train) #Do the accual transformation
X_test_fe = column_transformer.transform(X_test) #Do the same transformation on test set

In [109]:
X_train_fe[0]

array([ 0.69755842, -0.38420906,  1.        ,  0.        ,  1.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  1.        ])

In [110]:
m = LogisticRegression()
m.fit(X_train_fe,y_train)

LogisticRegression()

In [111]:
m.score(X_train_fe,y_train)

0.8160112359550562

In [112]:
m.score(X_test_fe,y_test)

0.8156424581005587